*.py[co]
MANIFEST

# C extensions
*.so

.DS_Store
__pycache__
.cache

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.eggs

# Unit test / coverage reports
.coverage
.codecov-token
.tox
htmlcov
.tox
nosetests.xml
htmlcov
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#Environment
env
.python-version

violations.flake8.txt

.vscode

# Built docs
doc/_build/**
